.activities-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.activities-container hgroup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.table-buttons{
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}