.athlete-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.athlete-info .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-athlete{
  height: 160px;
  width: 160px;
  border-radius: 100%;
}